
<div class="sidebar" data-color="orange" data-background-color="grey" data-image="./../assets/img/sidebar-1.jpg">
  <!-- Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"
   Tip 2: you can also add an image using data-image tag-->
  <div class="logo">
    <a [routerLink]="['']" class="simple-text logo-normal">
      Track It!
    </a>
  </div>
  <div class="sidebar-wrapper">
    <ul class="nav">
      <li class="nav-item" routerLinkActive="active" *ngFor="let menuItem of menuItems">
        <a class="nav-link" [routerLink]="[menuItem.path]">
          <i class="material-icons">{{menuItem.data.icon}}</i>
          <p>{{trans.getLanguageBase()[auth.currentUser().language][menuItem.data.title]}}</p>
        </a>
      </li>
    </ul>
  </div>
</div>