<div class="sidebar" data-color="orange" data-background-color="grey" data-image="assets/img/sidebar-1.jpg">
    <!-- Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"
     Tip 2: you can also add an image using data-image tag-->
  <div class="logo">
    <a [routerLink]="['']" class="simple-text logo-normal">
      Track It!
    </a>
  </div>
  <div class="sidebar-wrapper">
    <div *ngIf="isMobileMenu()">
      <ul class="nav navbar-nav nav-mobile-menu">
          <li class="nav-item">
              <a class="nav-link" href="#pablo">
                  <i class="material-icons">dashboard</i>
                  <p>
                    <span class="d-lg-none d-md-block">Stats</span>
                  </p>
              </a>
          </li>
          <li class="nav-item dropdown">
              <a class="nav-link" href="#pablo" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="material-icons">notifications</i>
                  <span class="notification">5</span>
                  <p>
                      <span class="d-lg-none d-md-block">Some Actions</span>
                  </p>
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="#">Mike John responded to your email</a>
                  <a class="dropdown-item" href="#">You have 5 new tasks</a>
                  <a class="dropdown-item" href="#">You're now friend with Andrew</a>
                  <a class="dropdown-item" href="#">Another Notification</a>
                  <a class="dropdown-item" href="#">Another One</a>
              </div>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#pablo">
                  <i class="material-icons">person</i>
                  <p>
                      <span class="d-lg-none d-md-block">Account</span>
                  </p>
              </a>
          </li>
      </ul>
    </div>
    <ul class="nav">
        <li class="nav-item" routerLinkActive="active" *ngFor="let menuItem of menuItems">
          <a class="nav-link" [routerLink]="[menuItem.path]">
            <i class="material-icons">{{menuItem.data.icon}}</i>
            <p>{{trans.getLanguageBase()[auth.currentUser().language][menuItem.data.title]}}</p>
          </a>
        </li>
    </ul>
  </div>
  <div class="sidebar-background" style="background-image: url(assets/img/sidebar-4.jpg)"></div>
</div>