@import url("../../assets/css/material-kit.css");

.home-section {
  min-height: 100vh;
}

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}

.footer .copyright {
  font-size: 0.9rem;
  color: #6c757d;
}

.footer a {
  color: #6c757d;
  font-weight: bold
}

.main-raised {
  margin: -30px 25px 0px;
}

@media all and (max-width: 991px){
  .home .navbar .container,
  .home .navbar .container .navbar-toggler {
    -webkit-transform: translate3d(0px, 0, 0) !important;
    -moz-transform: translate3d(0px, 0, 0) !important;
    -o-transform: translate3d(0px, 0, 0) !important;
    -ms-transform: translate3d(0px, 0, 0) !important;
    transform: translate3d(0px, 0, 0) !important;
  }

  .home .navbar-collapse {
    -webkit-transform: translate3d(0px, 0, 0) !important;
    -moz-transform: translate3d(0px, 0, 0) !important;
    -o-transform: translate3d(0px, 0, 0) !important;
    -ms-transform: translate3d(0px, 0, 0) !important;
    transform: translate3d(0px, 0, 0) !important;
  }

}


