<div class="home">
  <!-- Navbar -->
  <nav
    class="navbar navbar-transparent navbar-color-on-scroll fixed-top navbar-expand-lg"
    color-on-scroll="100"
    id="sectionsNav"
  >
    <div class="container">
      <div class="navbar-translate">
        <a class="navbar-brand" href="#"> Material Kit </a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="sr-only">Toggle navigation</span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <li class="dropdown nav-item">
            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
              <i class="fa fa-info-circle material-icons"></i> About
            </a>
            <div class="dropdown-menu dropdown-with-icons">
              <a href="#" class="dropdown-item" (click)="scrollToAboutProject(); false;">
                <i class="fa fa-github material-icons"></i> This Project
              </a>
              <a href="#" class="dropdown-item" (click)="scrollToAboutMe(); false;">
                <i class="fa fa-id-badge material-icons"></i> Julián Rodríguez
              </a>
            </div>
          </li>


          <li class="dropdown nav-item">


            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
              <img class="material-icons" src="../../assets/img/col-flag.png" alt="col-flag"> Español
            </a>
            <div class="dropdown-menu dropdown-with-icons">
              <a href="#" class="dropdown-item" (click)="changeLanguage('en-uS'); false;">
                <i class="material-icons"><img src="../../assets/img/us-flag.png" class="language-icon" alt="us-flag"></i> English
              </a>
              <a href="#" class="dropdown-item" (click)="changeLanguage('es-co'); false;">
                <i class="material-icons"><img src="../../assets/img/col-flag.png" class="language-icon" alt="col-flag"></i> Español
              </a>
            </div>



          </li>


          <li class="nav-item">
            <a
              class="nav-link"
              href="https://github.com/felorodri/trackit"
              target="blank"
            >
              <i class="material-icons">cloud_download</i> Download
            </a>
          </li>
          <li class="nav-item">
            <a
              href="#"
              class="btn btn-warning btn-round login-btn-collapsed"
              routerLink="/login"
            >
              Login
              <div class="ripple-container"></div
            ></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- End navbar -->
  <!-- Home content -->
  <section class="home-section">
    <div
      class="home-page-header home-header-filter clear-filter black-filter parallax"
      style="background-image: url('./assets/img/bg.jpg');"
    >
      <div class="home-container">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto">
            <div class="brand">
              <h1 class="animated fadeInUp">"The world is full of lonely people afraid of make the first move"</h1>
              <h3>-Green book movie quote.</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="main main-raised">
      <div class="col-12 justify-content-end align-items-end align-content-end align-self-end animated infinite bounce delay-5s">
        <button class="btn btn-link btn-block arrowBtn" type="button" (click)="scrollToAboutProject()">
          <i class="material-icons" data-bs-hover-animate="bounce" style="font-size:2rem;">keyboard_arrow_down</i>
        </button>
      </div>
      <div class="section section-basic">
        <div class="container">
          <div class="title">
            <h2>Basic Elements</h2>
          </div>
          <div id="buttons" class="cd-section">
            <div class="title">
              <h3>
                Buttons
                <br />
                <small>Pick your style</small>
              </h3>
            </div>
            <div class="row">
              <div class="col-md-8 ml-auto mr-auto">
                <button class="btn btn-primary">Default</button>
                <button class="btn btn-primary btn-round">Round</button>
                <button class="btn btn-primary btn-round">
                  <i class="material-icons">favorite</i> With Icon
                </button>
                <button class="btn btn-primary btn-fab btn-round">
                  <i class="material-icons">favorite</i>
                </button>
                <button class="btn btn-primary btn-link">Simple</button>
              </div>
            </div>
            <div class="title">
              <h3>
                <small>Pick your size</small>
              </h3>
            </div>
            <div class="row">
              <div class="col-md-8 ml-auto mr-auto">
                <button class="btn btn-primary btn-sm">Small</button>
                <button class="btn btn-primary">Regular</button>
                <button class="btn btn-primary btn-lg">Large</button>
              </div>
            </div>
            <div class="title">
              <h3>
                <small> Pick your color </small>
              </h3>
            </div>
            <div class="row">
              <div class="col-md-10 ml-auto">
                <button class="btn">Default</button>
                <button class="btn btn-primary">Primary</button>
                <button class="btn btn-info">Info</button>
                <button class="btn btn-success">Success</button>
                <button class="btn btn-warning">Warning</button>
                <button class="btn btn-danger">Danger</button>
                <button class="btn btn-rose">Rose</button>
              </div>
            </div>
          </div>
          <div class="space-50"></div>
          <div id="inputs">
            <div class="title">
              <h3>Inputs</h3>
            </div>
            <div class="row">
              <div class="col-lg-3 col-sm-4">
                <div class="form-group has-default">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Regular"
                  />
                </div>
              </div>
              <div class="col-lg-3 col-sm-4">
                <div class="form-group">
                  <label for="exampleInput1" class="bmd-label-floating"
                    >With Floating Label</label
                  >
                  <input type="email" class="form-control" id="exampleInput1" />
                  <span class="bmd-help"
                    >We'll never share your email with anyone else.</span
                  >
                </div>
              </div>
              <div class="col-lg-3 col-sm-4">
                <div class="form-group has-success">
                  <label for="exampleInput2" class="bmd-label-floating"
                    >Success input</label
                  >
                  <input type="text" class="form-control" id="exampleInput2" />
                  <span class="form-control-feedback">
                    <i class="material-icons">done</i>
                  </span>
                </div>
              </div>
              <div class="col-lg-3 col-sm-4">
                <div class="form-group has-danger">
                  <label for="exampleInput3" class="bmd-label-floating"
                    >Error input</label
                  >
                  <input type="email" class="form-control" id="exampleInput3" />
                  <span class="form-control-feedback">
                    <i class="material-icons">clear</i>
                  </span>
                </div>
              </div>
              <div class="col-lg-3 col-sm-4">
                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">group</i>
                      </span>
                    </div>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="With Material Icons"
                    />
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-sm-4">
                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="fa fa-group"></i>
                      </span>
                    </div>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="With Font Awesome Icons"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="space-70"></div>
          <div id="checkRadios">
            <div class="row">
              <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="title">
                  <h3>Checkboxes</h3>
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value="" />
                    Unchecked
                    <span class="form-check-sign">
                      <span class="check"></span>
                    </span>
                  </label>
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      value=""
                      checked
                    />
                    Checked
                    <span class="form-check-sign">
                      <span class="check"></span>
                    </span>
                  </label>
                </div>
                <div class="form-check disabled">
                  <label class="form-check-label">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      value=""
                      disabled
                    />
                    Disabled unchecked
                    <span class="form-check-sign">
                      <span class="check"></span>
                    </span>
                  </label>
                </div>
                <div class="form-check disabled">
                  <label class="form-check-label">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      value=""
                      disabled
                      checked
                    />
                    Disabled checked
                    <span class="form-check-sign">
                      <span class="check"></span>
                    </span>
                  </label>
                </div>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="title">
                  <h3>Radio Buttons</h3>
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="exampleRadios"
                      id="exampleRadios1"
                      value="option1"
                    />
                    Radio is off
                    <span class="circle">
                      <span class="check"></span>
                    </span>
                  </label>
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="exampleRadios"
                      id="exampleRadios2"
                      value="option2"
                      checked
                    />
                    Radio is on
                    <span class="circle">
                      <span class="check"></span>
                    </span>
                  </label>
                </div>
                <div class="form-check disabled">
                  <label class="form-check-label">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="exampleRadios1"
                      id="exampleRadios11"
                      value="option1"
                      disabled
                    />
                    Disabled radio is off
                    <span class="circle">
                      <span class="check"></span>
                    </span>
                  </label>
                </div>
                <div class="form-check disabled">
                  <label class="form-check-label">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="exampleRadio1"
                      id="exampleRadios21"
                      value="option2"
                      checked
                      disabled
                    />
                    Disabled radio is on
                    <span class="circle">
                      <span class="check"></span>
                    </span>
                  </label>
                </div>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="title">
                  <h3>Toggle Buttons</h3>
                </div>
                <div class="togglebutton">
                  <label>
                    <input type="checkbox" checked="" />
                    <span class="toggle"></span>
                    Toggle is on
                  </label>
                </div>
                <div class="togglebutton">
                  <label>
                    <input type="checkbox" />
                    <span class="toggle"></span>
                    Toggle is off
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="space-70"></div>
          <div id="progress">
            <div class="row">
              <div class="col-md-6">
                <div class="title">
                  <h3>Progress Bars</h3>
                </div>
                <div class="progress progress-line-primary">
                  <div
                    class="progress-bar progress-bar-primary"
                    role="progressbar"
                    aria-valuenow="60"
                    aria-valuemin="0"
                    aria-valuemax="100"
                    style="width: 30%;"
                  >
                    <span class="sr-only">60% Complete</span>
                  </div>
                </div>
                <div class="progress progress-line-info">
                  <div
                    class="progress-bar progress-bar-info"
                    role="progressbar"
                    aria-valuenow="60"
                    aria-valuemin="0"
                    aria-valuemax="100"
                    style="width: 60%;"
                  >
                    <span class="sr-only">60% Complete</span>
                  </div>
                </div>
                <div class="progress progress-line-danger">
                  <div
                    class="progress-bar progress-bar-success"
                    style="width: 35%"
                  >
                    <span class="sr-only">35% Complete (success)</span>
                  </div>
                  <div
                    class="progress-bar progress-bar-warning"
                    style="width: 20%"
                  >
                    <span class="sr-only">20% Complete (warning)</span>
                  </div>
                  <div
                    class="progress-bar progress-bar-danger"
                    style="width: 10%"
                  >
                    <span class="sr-only">10% Complete (danger)</span>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="title">
                  <h3>Pagination</h3>
                </div>
                <ul class="pagination pagination-primary">
                  <li class="page-item">
                    <a href="javascript:void(0);" class="page-link">1</a>
                  </li>
                  <li class="page-item">
                    <a href="javascript:void(0);" class="page-link">...</a>
                  </li>
                  <li class="page-item">
                    <a href="javascript:void(0);" class="page-link">5</a>
                  </li>
                  <li class="page-item">
                    <a href="javascript:void(0);" class="page-link">6</a>
                  </li>
                  <li class="active page-item">
                    <a href="javascript:void(0);" class="page-link">7</a>
                  </li>
                  <li class="page-item">
                    <a href="javascript:void(0);" class="page-link">8</a>
                  </li>
                  <li class="page-item">
                    <a href="javascript:void(0);" class="page-link">9</a>
                  </li>
                  <li class="page-item">
                    <a href="javascript:void(0);" class="page-link">...</a>
                  </li>
                  <li class="page-item">
                    <a href="javascript:void(0);" class="page-link">12</a>
                  </li>
                </ul>
                <ul class="pagination pagination-info">
                  <li class="page-item">
                    <a href="javascript:void(0);" class="page-link"> prev</a>
                  </li>
                  <li class="page-item">
                    <a href="javascript:void(0);" class="page-link">1</a>
                  </li>
                  <li class="page-item">
                    <a href="javascript:void(0);" class="page-link">2</a>
                  </li>
                  <li class="active page-item">
                    <a href="javascript:void(0);" class="page-link">3</a>
                  </li>
                  <li class="page-item">
                    <a href="javascript:void(0);" class="page-link">4</a>
                  </li>
                  <li class="page-item">
                    <a href="javascript:void(0);" class="page-link">5</a>
                  </li>
                  <li class="page-item">
                    <a href="javascript:void(0);" class="page-link">next </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div id="sliders">
            <div class="row">
              <div class="col-md-6">
                <div class="title">
                  <h3>Sliders</h3>
                </div>
                <div id="sliderRegular" class="slider"></div>
                <div id="sliderDouble" class="slider slider-info"></div>
              </div>
              <div class="col-md-6 ml-auto">
                <div class="title">
                  <h3>Badges</h3>
                </div>
                <span class="badge badge-pill badge-secondary">Default</span>
                <span class="badge badge-pill badge-primary">Primary</span>
                <span class="badge badge-pill badge-info">Info</span>
                <span class="badge badge-pill badge-success">Success</span>
                <span class="badge badge-pill badge-warning">Warning</span>
                <span class="badge badge-pill badge-danger">Danger</span>
                <span class="badge badge-pill badge-rose">Rose</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>

  </section>
  <!-- End home content -->
  <!-- Footer -->
  <!-- <footer class="footer" data-background-color="black">
    <div class="container">
      <nav class="float-left">
        <ul>
          <li>
            <a
              rel="tooltip"
              title=""
              data-placement="top"
              href="https://www.facebook.com/felorodri"
              target="_blank"
              data-original-title="Contact me on Facebook"
              class="footer-icon"
            >
              <i class="fa fa-facebook-square"></i>
            </a>
          </li>
          <li>
            <a
              rel="tooltip"
              title=""
              data-placement="top"
              href="https://www.twitter.com/felorodri"
              target="_blank"
              data-original-title="Follow me on Twitter"
              class="footer-icon"
            >
              <i class="fa fa-twitter-square"></i>
            </a>
          </li>
          <li>
            <a
              rel="tooltip"
              title=""
              data-placement="top"
              href="https://www.linkedin.com/in/felorodri"
              target="_blank"
              data-original-title="Contact me on LinkedIn"
              class="footer-icon"
            >
              <i class="fa fa-linkedin-square"></i>
            </a>
          </li>
          <li>
            <a
              rel="tooltip"
              title=""
              data-placement="top"
              href="https://www.github.com/felorodri"
              target="_blank"
              data-original-title="Find me on Github"
              class="footer-icon"
            >
              <i class="fa fa-github-square"></i>
            </a>
          </li>
        </ul>
      </nav>
      <div class="copyright float-right">
        &copy; {{ currentDate.getFullYear() }} | Created by
        <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>
        and moddified by
        <a href="https://twitter.com/felorodri" target="_blank"
          >Julián Rodríguez</a
        >.
      </div>
    </div>
  </footer> -->
  <!-- End footer -->
</div>
